<form>
  <div class="form-group">
    <br>
    <h4>Login to See Updates</h4>
    <br>
    <label for="username">Username</label>
    {{!-- If this was asking for an email change input type to "email" --}}
    <input type="text" class="form-control" id="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
<script src="js/dashboard.js"></script>